<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<appSettings>
		<add key="InputDirectory" value="%HOMEPATH%\data\in" />
		<add key="OutputDirectory" value="%HOMEPATH%\data\out" />
		<add key="fieldSeparator" value="ç" />
		<add key="itemSeparator" value="," />
		<add key="itemDataSeparator" value="-" />
	</appSettings>
</configuration>